wildfly-subsystem-archetype/src/main/resources/archetype-resources/__artifactId__-extension/src/main/resources/schema/__artifactId___1_0.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:${groupId}:${artifactId}:1.0"
           xmlns="urn:${groupId}:${artifactId}:1.0"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="1.0">

    <!-- The subsystem root element -->
    <xs:element name="subsystem" type="subsystemType"/>

    <xs:complexType name="subsystemType">
        <xs:attribute name="executor" type="xs:string" use="required"/>
        <xs:attribute name="tick" type="xs:long" use="optional"/>
    </xs:complexType>
</xs:schema>
